body {
    background: linear-gradient(180deg, rgba(7,16,18,1) 34%, rgba(0,0,0,1) 52%);
    overflow-x: hidden;
    
}

.box {
    position: relative;
    height: 100vh;
    overflow: hidden;
}  

#background-video{
    position: absolute; /* Posiciona o vídeo em relação ao .box */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo cubra todo o .box */
    z-index: -1;
}

.logo {
    margin-left: 70px;
    align-items: center
}

.logo img {
    max-width: 150px;
    height: auto;
    animation: fade 3s infinite;
    margin-top: 0
}

@keyframes fade {
    0% {
        opacity: 1
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

header {
    padding: 0;
    position: absolute;
    width: 100%;
    align-items: center;
    font-family: arial;
    animation: fade-in 3s ease-in-out
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

nav ul {
    list-style: none;
    margin-top: -75px;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: forte;
    
}

nav ul li {
    display: inline;
    margin: 10px
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 28px;
    border: 2px solid transparent;
    padding: 5px;
    transition: border-color .3s ease;
    box-shadow: #7ba3ce 0 20px 30px -10px;
}

nav ul li a:hover {
    animation: borderGlow 2s linear infinite
}

@keyframes borderGlow {

    0%,
    100% {
        box-shadow: 0 0 5px 5px rgba(108, 137, 168, 0.8)
    }

    50% {
        box-shadow: 0 0 20px 10px rgba(38, 57, 77, 0.3)
    }
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 100px;
    margin-top: -58px;
    transition: transform .2s;
}

.icon img{
    margin-left: 10px;

}

.icon img:hover {
    transform: scale(1.2)
}

.Bem-vindo {
    font-family: Arial;
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 3rem;
    margin-top: -.5rem;
    color: #fff;
    font-size: 20px;
    float: left;
    text-align: left
}

.bm {
    width: 50%
}

h1{
    font-size: 50px;
}


.texto-com-sombra,.bm {
    text-shadow: 2px 2px 4px #000;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    font-family: arial
}

.videotime {
    float: right;
    width: 50%;
    margin-right: 10%;
    margin-top: -250PX;
    -webkit-box-reflect: below .5px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4))
}

.clearfix::after {
    content: "";
    display: table;
    clear: both
}

h2 {
    font-family: arial;
    font-size: 50px;
    margin: 0;
    color: #fff;
    align-items: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    text-shadow: 2px 2px 4px #000;
}


#solutions {
    display: flex;
    padding: 0;
    text-align: left;
    justify-content: space-between;
    justify-items: left;
    margin-top: 200px;
    left: 60px;
    margin-left: 50px;
    animation: fade-in 3s ease-in-out
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.solucao {
    font-size: 35px;
    text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: transparent;
    font-family: arial;
    text-shadow: 2px 2px 4px #000;

}

.maop {
    justify-items: center;
    margin-right: 0px
}
.maop img{
    transition: trasnform 0.8s;
}

.maop img:hover{
    transform: scaleX(1.2);
}

#siterespossiv {
    display: flex;
    padding: 0;
    text-align: left;
    justify-content: space-between;
    justify-items: right;
    margin-top: -140px;
    left: 60px;
    margin-right: 40px;
    text-shadow: 2px 2px 4px #000;
    font-family: arial

}


#siterespossiv p {
    flex: 1;
    font-family: arial

}

.site {
    font-size: 35px;
    text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: transparent;
    font-family: arial;
    text-align: right;
    margin-top: -100px;
    animation: fade-in 3s ease-in-out
    
}

.telas img {
    width: 400px;
    float: right;
    margin-right: 0;
    margin-top: -50px;
    animation: fade-in 3s ease-in-out;
    transition: trasnform 0.8s;
}
.telas img:hover{
    transform: scale(1.2);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.destaque1 {
    color: #03FFFF;
    font-weight: 700
}

.destaque {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #03FFFF;
    font-weight: 700;
    font-size: 50PX
}

section {
    padding: 400px 0;
    text-align: center;
    color: #fff
}

#servico {
    margin-top: -250px
}

.servicos {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    text-align: left
}

.caixa {
    width: 200px;
    height: 200px;
    background-color: #040404;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fbf9f9
}

h3 {
    font-family: cooper;
    color: #fbf9f9;
    text-align: center;
    margin-top: -51%;
    font-size: 28px;
    border: 2px solid transparent;
    padding: 5px;
    transition: border-color .3s ease;
    border-radius: 20px;
    box-shadow: #7ba3ce 0 10px 10px -10px;
}

.caixa h3 {
    margin-top: -60%
}

.caixa1 {
    margin-left: 2%;
    font-size: 20px;
    font-family: arial;
    
    
}

.pcanimado {
    transition: transform .3s
}

.pcanimado:hover {
    transform: scale(1.2)
}

.lojavirtual {
    margin-top: -10%;
    transition: transform .3s
}

.lojavirtual:hover {
    transform: scale(1.2)
}

.app {
    margin-left: -30%;
    margin-top: 50px;
    transition: transform .3s
}

.app:hover {
    transform: scale(1.2)
}

h4 {
    font-family: arial;
    color: #fbf9f9;
    text-align: center;
    margin-top: -15%;
    font-size: 28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.989);
    width: 300px;
    margin-left: 40%;
}
.maos{
    margin-top: -560px;
}
.maodesquerda img{
    float: left;
    -webkit-box-reflect: below .5px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    transition: transform 0.3s;

}
.maodesquerda img:hover{
    transform: scaleY(1.2);
}

.maodireita img{
    float: right;
    -webkit-box-reflect: below .5px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    transition: transform 0.3s;
}
.maodireita img:hover{
    transform: scaleY(1.2);
}

.barra{
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 0;
}

.contato {
    font-family: arial;
    margin-top: 200px;
    font-size: 30px;
    color: #fff;
    
}

.fig {
    max-width: 200px;
    height: auto;
    margin-top: 0;
    transition: transform .2s;
}

.fig:hover {
    transform: scale(1.2)
}



.rodape {
    background-color: rgba(44, 41, 41, 0.432);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    z-index: 1;

}

.rodap {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .box {
        height: 80vh; /* Ajuste a altura conforme necessário */
        overflow: hidden;
    }

    .logo img {
        margin-left: -50px;
        max-width: 130px;
         /* Ajuste a margem conforme necessário */
    }
    nav ul{
        display: flex;
        flex-direction: row;
        margin-top: -50px;
         
    }

    nav ul li a{
        font-size: 20px;
    }

    .icon{
    
        flex-direction: row;
        float: center;
        justify-items: right;
        /* margin-top: -100px; */
        margin-right: 15px;
    }
    .icon img {
        display: flex;
        width: 25px;        
    }
    .Bem-vindo{
        display: flex;
        text-align: left;
        justify-content: center;
        margin-left: -200px;
        margin-top: -150px;
        width: 80%;
    }
    h1{
        font-size: 18px;
    }
    .destaque{
        font-size: 21px;
    }
    .texto-com-sombra{
        font-size: 18px;
    }
    .videotime{
        margin-top: -150px;
    
    }
    #solution{
        width: 80%;
        text-align: left;
        justify-content: left;
        margin-top: -80px;

    }
    .solucao{
        font-size: 18px;
    }
    .maop{
       float: right;
    }
    .maop img{
        display: flex;
        justify-items: right;
        width: 320px;
        margin-right: -150px;
        
    }

    .site{
        font-size: 18px;
        margin-top: -180px;
        text-align: right;
    }
    .telas img{
        display: flex;
        justify-items: left;
        width: 320px;
        margin-top: 40px;
    }

    .servicos{
        display: flex;
        justify-items: center;
        margin-top: -20px;
        
    }
    .caixa{
        width: 100px;
        
    }
    h3{
        font-size: 18px;
        
    }

    .caixa h3{
        margin-top: -115px;
    }
    .caixa1{
        display: flex;
        font-size: 18px; 
        margin-top: 50px;
        margin-left: -15px;
    }
    .pcanimado img, .lojavirtual img {
        width: 150px;
        margin-left: -20px;
    }
    .pcanimado img{
        margin-top: -10px;
    }
    .lojavirtual{
        margin-top: 30px;
    }
    .app img{
        width: 200px;
        margin-left: -20px;
        margin-top: 30px;
    }
    .maos{
        display: flex;
        margin-top: -150px;
        
    }
    .maodireita img{
        display: flex;
        justify-items: right;
        margin-left: -250px;
        
    }

    .contato{
        margin-top: -120px;
        text-align: center;
        justify-items: center;
    }
    .contato h4{
        text-align: center;
        margin-left: 230px;
    }
    

    /* Adicione mais estilos para telas maiores aqui */
}

@media screen and (min-width: 414px) and (max-width: 767px) {
    .box {
        height: 100vh; /* Ajuste a altura conforme necessário */
        overflow: hidden;
        width: 220%;
    }

    .logo img {
        margin-left: -80px;
        max-width: 130px;
         /* Ajuste a margem conforme necessário */
    }
    nav ul{
        display: flex;
        flex-direction: roe;
        margin-top: -50px;
         
    }

    nav ul li a{
        font-size: 30px;
    }

    .icon{
    
        flex-direction: row;
        float: center;
        justify-items: right;
        margin-top: -130px;
        margin-right: 100px;
    }
    .icon img {
        display: flex;
        width: 25px;        
    }
    .Bem-vindo{
        display: flex;
        text-align: left;
        justify-content: center;
        margin-left: -200px;
        margin-top: -100px;
        width: 90%;
    }
    h1{
        font-size: 20px;
    }
    .destaque{
        font-size: 23px;
    }
    .texto-com-sombra{
        font-size: 20px;
    }
    .videotime{
        margin-top: -250px;
        margin-right: -200px;
        width: 250px;
    
    }
    #solution{
        width: 80%;
        text-align: left;
        justify-content: left;
        margin-top: -80px;
        

    }
    .solucao{
        font-size: 23px;
    }
    .maop{
       float: right;

    }
    .maop img{
        display: flex;
        justify-items: right;
        width: 420px;
        margin-right: -1000px;
        margin-left: 120px;
        
    }

    .site{
        font-size: 24px;
        margin-top: -180px;
        text-align: right;
        margin-right: -400px;
    }
    .telas img{
        display: flex;
        justify-items: left;
        width: 380px;
        margin-top: 80px;
    }

    .servicos{
        display: flex;
        justify-items: center;
        margin-top: -20px;
        
    }
    .caixa{
        width: 130px;
        
    }
    h3{
        font-size: 23px;
        
    }

    .caixa h3{
        margin-top: -115px;
    }
    .caixa1{
        display: flex;
        font-size: 21px; 
        margin-top: 50px;
        margin-left: -15px;
    }
    .pcanimado img, .lojavirtual img {
        width: 150px;
        margin-left: -20px;
    }
    .pcanimado img{
        margin-top: -10px;
        margin-left: -3px;
    }
    .lojavirtual{
        margin-top: -5px;
        margin-left: 8px;

    }
    .app img{
        width: 225px;
        margin-left: -20px;
        margin-top: 10px;
    }
    .maos{
        display: flex;
        margin-top: -280px;
        
    }
    .maodireita img{
        display: flex;
        justify-items: right;
        margin-left: -150px;
        
    }

    .contato{
        margin-top: -120px;
        text-align: center;
        justify-items: center;
    }
    .contato h4{
        text-align: center;
        margin-left: 300px;
    }

    .contato img{
        margin-left: 400px;
    }

    .linksite{
        margin-left: 250px;
    }
    
    .rodape{
        width: 300%;
        overflow: hidden;
    }


    


    /* Adicione mais estilos para telas maiores aqui */
}